.holder {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  width: 300px;
  flex-wrap: wrap;
}

.holder div:first-child {
  display: flex;
  height: 30px;
  width: 50%;
  background-color: rgb(253,100,76);
  justify-content: center;
  order: 1;
  border-top-left-radius: 7px;

}

.holder div:nth-child(2){
  display: flex;
  justify-content: center;  
  height: 30px;
  width: 100px;
  background-color: rgb(73,132,178);
  order: 4;

}
.holder div:nth-child(3){
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100px;
  background-color:rgb(103,55,151);
  order: 3;
}
.holder div:nth-child(4){
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100px;
  background-color: rgb(11,103,16);
  order: 5;
  
}

.holder div:last-child {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 50%;
  background-color: rgb(253,165,41);
  order: 2;
  border-top-right-radius: 7px;
}

